body {
    // background-color: #477148;
    background-color: #3e603f;
    margin: 0;
    overflow-x: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
