.bottom-card {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
    transition: all 250ms ease;

    @media (max-width: 650px) {
        left: 16px;
        right: 84px;
    }
}